.chat-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0.25em 0.5em;
    background-color: #eee;
    font-weight: bold;
    font-size: 1em;
  }

  .messages, .new-message {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 30px;
    width: 100%;
    bottom: 108px;
    overflow: auto;
    ul {
      padding-left: 0;
      li {
        list-style-type: none;
      }
    }
  }

  .new-message {
    height: 60px;
    bottom: 46px;
    overflow: hidden;
    form {
      padding: 0 3px;
    }
    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .message {
    padding: 0 3px;
    margin-bottom: 5px;

    a {
      word-break: break-word;
    }

    .top {
      overflow: hidden;
    }

    .identity {
      cursor: default;
      float: left;
      width: 36px;
      height: 36px;
      margin-right: 4px;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2em;
      color: white;
    }

    .body {
      font-size: 0.9em;
    }

    .time {
      float: right;
      background: white;
      font-size: 0.5em;
      color: #555;
    }
  }
}

.bg0 { background-color: black; }
.bg1 { background-color: brown; }
.bg2 { background-color: darkblue; }
.bg3 { background-color: darkcyan; }
.bg4 { background-color: darkgreen; }
.bg5 { background-color: darkred; }
.bg6 { background-color: darkslateblue; }
.bg7 { background-color: indigo; }
.bg8 { background-color: saddlebrown; }
.bg9 { background-color: seagreen; }
