* {
  font-family: $default-font-family;
}

html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#meetups {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
}

#video-chat, #text-chat {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#video-chat {
  left: 0;
  right: 220px;
}

#text-chat {
  width: 220px;
  right: 0;
  background: white;
  color: black;
}
