$default-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$toggle-button-on-bg-color: forestgreen;
$toggle-button-off-bg-color: crimson;
$toggle-button-on-color: white;
$toggle-button-off-color: white;
