$navbar-border-radius: 0;
$navbar-inverse-bg: rgba(0,0,0,0.75);
$navbar-inverse-border: transparent;
$navbar-height: 75px;
$navbar-margin-bottom: 5px;
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Montserrat, Georgia, "Times New Roman", Times, serif;

@import "bootstrap";

@import "layout";
