doctype html(lang='en')
html
  head
    meta(charset='utf-8')
    title cine.io Peer Example
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bundle.css')

    script(src='//cine-io-production.s3.amazonaws.com/cineio-peer.js')
    script(type='text/javascript').
      CineIOPeer.init("#{publicKey}")
  body
    #container
    script(src='/js/bundle.js')
