* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#meetups {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white; }

#video-chat, #controls-and-chat {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1; }

#video-chat {
  left: 0;
  right: 220px; }

#controls-and-chat {
  width: 220px;
  right: 0;
  background: white;
  color: black; }

.controls {
  text-align: center; }
  .controls ul {
    padding-left: 0;
    margin: 0;
    padding-top: 0; }
    .controls ul li {
      display: inline; }
  .controls .mute {
    display: inline-block; }
  .controls button {
    cursor: pointer;
    vertical-align: top;
    width: 44px;
    height: 44px;
    border: 0;
    border-right: 1px solid #eee;
    padding: 0;
    background-color: #c0c0c0; }
    .controls button i.fa-sign-in, .controls button i.fa-sign-out, .controls button i.fa-user {
      height: 33px; }
  .controls button.toggle-button-on {
    background-color: forestgreen;
    color: white; }
  .controls button.toggle-button-off {
    background-color: crimson;
    color: white; }
  .controls button.camera-and-microphone {
    width: 84px; }
  .controls button.ok {
    color: white;
    background-color: forestgreen; }
  .controls button.cancel {
    color: white;
    background-color: crimson; }
  .controls form {
    margin: 0;
    margin-top: 11px;
    margin-bottom: 12px; }
    .controls form input, .controls form button {
      height: 22px;
      margin-right: 2px; }
    .controls form input {
      width: 55%; }
    .controls form input:focus {
      outline: none; }
    .controls form button {
      width: 20%; }

.ongoing-call form {
  display: inline-block;
  padding: 0 10px; }

.chat-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }
  .chat-wrapper h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0.25em 0.5em;
    background-color: #eee;
    font-weight: bold;
    font-size: 1em; }
  .chat-wrapper .messages, .chat-wrapper .new-message {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1; }
  .chat-wrapper .messages {
    top: 30px;
    width: 100%;
    bottom: 108px;
    overflow: auto;
    padding-left: 0; }
    .chat-wrapper .messages li {
      list-style-type: none; }
  .chat-wrapper .new-message {
    height: 60px;
    bottom: 46px;
    overflow: hidden; }
    .chat-wrapper .new-message form {
      padding: 0 3px; }
    .chat-wrapper .new-message textarea {
      width: 100%;
      height: 100%; }
  .chat-wrapper .message {
    padding: 0 3px;
    margin-bottom: 5px; }
    .chat-wrapper .message a {
      word-break: break-word; }
    .chat-wrapper .message .top {
      overflow: hidden; }
    .chat-wrapper .message .identity {
      cursor: default;
      float: left;
      width: 36px;
      height: 36px;
      margin-right: 4px;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2em;
      color: white; }
    .chat-wrapper .message .body {
      font-size: 0.9em; }
    .chat-wrapper .message .time {
      float: right;
      background: white;
      font-size: 0.5em;
      color: #555; }

.bg0 {
  background-color: black; }

.bg1 {
  background-color: brown; }

.bg2 {
  background-color: darkblue; }

.bg3 {
  background-color: darkcyan; }

.bg4 {
  background-color: darkgreen; }

.bg5 {
  background-color: darkred; }

.bg6 {
  background-color: darkslateblue; }

.bg7 {
  background-color: indigo; }

.bg8 {
  background-color: saddlebrown; }

.bg9 {
  background-color: seagreen; }

#main-video video {
  width: 100%;
  height: 100%; }

.small-videos {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2; }

.small-videos video {
  height: 120px;
  cursor: pointer; }

/*# sourceMappingURL=bundle.css.map */
